.inputbox {
  font-size: 16px;

  outline: 0;
  border: 0;
  flex-grow: 1;
}

.inputboxContainer {
  display: flex;
  border: solid 1px #ddd;
  box-shadow: #ddd 0px 0px 2px;
  align-items: center;
  padding: 8px 14px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: rotate(0);
  transition: transform 300ms ease-in-out;
}

.open {
  transform: rotate(180deg);
}
