.results {
  list-style: none;
  padding: 0;
  margin: 3px 0 0 0;
  border: solid 1px #eee;
}

.resultItem {
  padding: 8px 14px;
  color: #aaa;
  font-size: 14px;
  border-bottom: solid 1px #eee;
  display: flex;
}

.selected {
  background-color: rgb(247, 241, 241);
}

.initials {
  border-radius: 7px;
  color: white;
  font-size: 12px;
  padding: 10px;
  flex-basis: 20px;
  margin-right: 12px;
  text-align: center;

  &.green {
    background-color: #468847;
  }

  &.yellow {
    background-color: #f89406;
  }

  &.blue {
    background-color: #3a87ad;
  }

  &.gray {
    background-color: #333333;
  }
}

.name {
  display: block;
  font-weight: 300;
  margin-bottom: 3px;
}

.email {
  display: block;
  font-size: 11px;
  font-weight: 300;
}
